html {
    background-color: rgb(56, 56, 56);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
}

body {
    margin: 0px;
}

div.content {
    margin: 2%;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 200%;
}

#resume {
    height: 94%;
    width: 94%;
}

.resumeButton {
    margin-bottom: 2%;
    padding: 1%;
    border: 1px solid hotpink;
    color: white;
    background-color: black;
}

#resumeButtonsDiv {
    text-align: left;
    padding-left: 3%;
}

.topnav a {
    color: white;
    text-decoration: none;
    font-size: 140%;
    margin: 2%;
}

.topnav {
    background-color: black;
    text-align: center;
    border-top: 2px solid hotpink;
    border-bottom: 2px solid hotpink;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
}

a {
    color: white;
}

.project {
    border: 2px solid hotpink;
    padding: 2%;
    text-align: center;
    display: inline-block;
}

.project img {
    width: 100%;
    object-fit: contain;
}

.project p {
    text-align: left;
}

.projectButton {
    margin-top: 2%;
    padding: 1%;
    border: 1px solid hotpink;
    color: white;
    background-color: black;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1%;
    margin: 2%;
    padding-bottom: 1%;
}

footer {
    font-size: 100%;
    background-color: black;
    color: white;
    text-align: center;
    border-top: 2px solid hotpink;
    border-bottom: 2px solid hotpink;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
}

@media (max-width: 720px) or (orientation: portrait) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1%;
        margin: 2%;
        padding-bottom: 20%;
    }
}

@media (min-width: 721px) and (max-width: 1200px) and (orientation: landscape) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1%;
        margin: 2%;
        padding-bottom: 5%;
    }
}
